[submodule "awesome-claude-code"]
	path = awesome-claude-code
	url = https://github.com/hesreallyhim/awesome-claude-code
	branch = main
[submodule "claude-mem"]
	path = claude-mem
	url = https://github.com/thedotmack/claude-mem
	branch = main
[submodule "everything-claude-code"]
	path = everything-claude-code
	url = https://github.com/affaan-m/everything-claude-code
	branch = main
[submodule "get-shit-done"]
	path = get-shit-done
	url = https://github.com/gsd-build/get-shit-done
	branch = main
[submodule "pm-workspace"]
	path = pm-workspace
	url = https://github.com/gonzalezpazmonica/pm-workspace
	branch = main
[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers
	branch = main
[submodule "ui-ux-pro-max-skill"]
	path = ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill
	branch = main
[submodule "ruflo"]
	path = ruflo
	url = https://github.com/ruvnet/ruflo.git
	branch = main
[submodule "wshobson-agents"]
	path = wshobson-agents
	url = https://github.com/wshobson/agents
	branch = main
[submodule "super-claude"]
	path = super-claude
	url = https://github.com/SuperClaude-Org/SuperClaude_Framework
	branch = master
[submodule "claude-task-master"]
	path = claude-task-master
	url = https://github.com/eyaltoledano/claude-task-master
	branch = main
[submodule "autoresearch"]
	path = autoresearch
	url = https://github.com/karpathy/autoresearch.git
	branch = master
[submodule "drawio-skill"]
	path = drawio-skill
	url = https://github.com/Agents365-ai/drawio-skill.git
	branch = main
[submodule "plantuml-skill"]
	path = plantuml-skill
	url = https://github.com/Agents365-ai/plantuml-skill.git
	branch = main
[submodule "anthropics-skills"]
	path = anthropics-skills
	url = https://github.com/anthropics/skills.git
[submodule "alirezarezvani-claude-skills"]
	path = alirezarezvani-claude-skills
	url = https://github.com/alirezarezvani/claude-skills.git
